body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: aliceblue;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    border-radius: 20px;
}



.buttons{
    margin-top: 0px;
    /* background-color: bisque; */
    background: transparent;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 5px 20px;
    /* padding-top: 2px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* font-size:50px; */
}

button{
    width: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 2px;
    padding: 20px;
    border: none;
    border-radius: 23vh;
    gap: 20px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 15px;
}


#clear span{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 20px; */
    width: 100%;
    /* background-color: black; */
    /* margin-right: 20px; */
    /* padding-right: 20px; */
}

.inputText{
    display: flex;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 2px solid black;
}

.backspace{
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 0%;
    width: 100%;
    background: #efefef;
    padding: 10px 0px;
    padding-right: 5px;
    border-top-right-radius: 20px;
}

.backspace img{
    height: 30px;
    width: 30px;
}

input[type="text"]{
    background: #efefef;
    border: none;
    padding: 20px;
    border-top-left-radius: 20px;
    font-weight: bolder;
}

@media (min-width:768px){
    .backspace{
        display: none;
    }

    input[type="text"]{
        width: 100%;
        border-top-right-radius: 20px;
    }

}

